body {
    margin: 0;
    font-family: sans-serif;
    background: #0d0d0d;
    color: #f0f0f0;

    /*display: flex;*/
    /*justify-content: center;*/
}

h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
    text-align: center;
}
h2 {
    margin-top: 2rem;
    text-align: center;
}
p {
    font-size: 1rem;
    /*margin: 0.5rem 0;*/
    text-align: left;
}
ol {
    text-align: left;
}
a, a:visited {
    color: #00bcd4;
}
a:hover, a:active {
    color: #14d0e8;
}

#content {
    max-width: 500px;
    margin: 0 auto;
    padding: 24px;
}

#nav-header {
    margin: 0;
    font-size: 1.2rem;
    text-align: left;
    padding: 0;
}
#nav-header hr {
    border: 0;
    border-top: 2px solid #969696;
    height: 0;
    margin: 10px 0;
}
#nav-header a {
    text-decoration: none;
    color: #969696;
}
#nav-header a:visited {

}
#nav-header a:hover {
    color: #c8c8c8;
}
#nav-header a:active {
    color: #e6e6e6;
}